%div{"ng-controller" => "pjController"}
  %h1
    Home Page of Panda Juice

  #current-sale
    .sale{"ng-show" => "current_sale"}
      %h2
        Current Sale
      %p
        Start: {{ current_sale.start }}
      %p
        Finish: {{ current_sale.finish }}
    .no-sale{"ng-show" => "!current_sale"}
      Sorry, there is no sale going on
