%div{"ng-controller" => "pjController"}
  %h1
    Home Page of Panda Juice

  #current-sale
    .sale{"ng-show" => "currentSale"}
      %h3
        Current Sale
      %p
        Start: {{ currentSale.start }}
      %p
        Finish: {{ currentSale.finish }}

    %h3
      Items for sale
    %ul.items{"ng-repeat" => "item in currentSale.items"}
      %li
        {{ item.name }}

    %h3
      Sale Variants
    %ul.variants{"ng-repeat" => "saleVariant in currentSale.saleVariants"}
      %li
        {{ saleVariant.variant.sku }}
        Quantity: {{ saleVariant.quantity }}
        Price: {{ saleVariant.cost }}

      %ul.options{"ng-repeat" => "option in saleVariant.variant.itemOptions"}
        %li
          {{ option.name }} = {{ option.value }}


    .no-sale{"ng-show" => "!currentSale"}
      Sorry, there is no sale going on
