%form{:name => 'loginForm', "ng-submit" => "login(user)"}
  .form-group
    %label{:for => "email"}
      Email
    %input.form-control{:type => "email", :id => "email", "ng-model" => "user.email"}

  .form-group
    %label{:for => "password"}
      Password
    %input.form-control{:type => "password", :id => "password", "ng-model" => "user.password"}

  .form-group
    %button.btn.btn-default{:type => "submit"}
      Submit

