%p{"ng-message" => "required"}
  This field is required
%p{"ng-message" => "minlength"}
  This field is too short
%p{"ng-message" => "maxlength"}
  This field is too long
%p{"ng-message" => "email"}
  This field must be a valid email address




