%form{"ng-submit" => "signup(user)"}
  .form-group
    %label{:for => "email"}
      Email
    %input.form-control{:type => "email", :id => "email", :placeholder => "Email", "ng-model" => "user.email"}

  .form-group
    %label{:for => "password"}
      Password
    %input.form-control{:type => "password", :id => "password", :placeholder => "Password", "ng-model" => "user.password"}

  .form-group
    %label{:for => "password_confirmation"}
      Password
    %input.form-control{:type => "password", :id => "password_confirmation", :placeholder => "Confirm Password", "ng-model" => "user.password_confirmation"}

  .form-group
    %button.btn.btn-default{:type => "submit"}
      Submit

