!!!
%html{"ng-app" => "pjApp"}
  %head
    %title PandaJuice
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags

    %base{:href => "/"}
  %body
    .container
      %nav.navbar.navbar-default
        .container-fluid
          .navbar-header
            %a.navbar-brand{"ui-sref" => "home"}
              Panda Juice

          .navbar-right
            %a.btn.btn-default.navbar-btn{"ui-sref" => "login"}
              Login
            %a.btn.btn-default.navbar-btn{"ui-sref" => "signup"}
              Sign Up

      .content{"ui-view": ""}
        = yield
